<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav>
      <ul class="navbar-links">
        <li><a id="homeLink" href="#">Home</a></li>
        <li><a id="contactLink" href="#">Contact</a></li>
        <li><a id="registrationLink" href="#">Registration</a></li>
        <li><a id="aboutLink" href="#">About</a></li>
      </ul>
      <input id="searchInput" type="text" placeholder="Search" />
      <button id="searchButton" type="button">Search</button>
    </nav>

    <h1>Página Inicial</h1>
    <!-- Conteúdo da página inicial -->

    <div class="product-container">
      <a href="/compras" class="product-card">
        <img src="/catalago/public/images/dobok_kimono_taekwondo_jc_jcalicu_club_gola_preta_homologado_wt_wtf_cbtkd_ponto_da_luta_01.webp" alt="Produto 1" />
        <h3>Nome do Produto 1</h3>
        <p>Descrição do produto 1.</p>
        <p>R$ 10,00</p>
      </a>

      <a href="/compras" class="product-card">
        <img src="/catalago/public/images/Fantasia-de-wushu-kung-fu-uniforme-de-artes-marciais-drag-o-guerreiro-chin-s-roupa-para.jpg" alt="Produto 2" />
        <h3>Nome do Produto 2</h3>
        <p>Descrição do produto 2.</p>
        <p>R$ 20,00</p>
      </a>

      <a href="/compras" class="product-card">
        <img src="/catalago/public/images/kimono.jpg" alt="Produto 3" />
        <h3>Nome do Produto 3</h3>
        <p>Descrição do produto 3.</p>
        <p>R$ 30,00</p>
      </a>

      <a href="/compras" class="product-card">
        <img src="/catalago/public/images/kimono_tradicional_canelado_adulto_295_1_20191203155958.webp" alt="Produto 3" />
        <h3>Nome do Produto 4</h3>
        <p>Descrição do produto 3.</p>
        <p>R$ 30,00</p>
      </a>
    </div>

    <script src="/js/nav.js"></script>
  </body>
</html>
